<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="https://www.devies.se/favicon.ico">
    <title>{% block title %}Messboard{% endblock %}</title>
</head>
<body>
{% block nav %}
    <nav>
        {% if user.is_authenticated %}
            <span >Välkommen {{ user.username }}! </span>
            <a href="{% url "sajt:my-subscriptions" %}">Prenumerationer</a>
            <a href="{% url "sajt:user-message-list" user.username %}">Mina egna meddelanden</a>
            <a href="{% url "sajt:message-list" %}">Alla meddelanden</a>
            <a href="{% url "logout" %}">Logga ut</a>
            {%  if user.is_staff %}
                <a href="{% url "admin:index" %}">Admin</a>
            {% endif %}
        {% else %}
            <a href="{% url "login" %}">Login</a>
        {% endif %}
    </nav>
{% endblock %}
{% block content %}<!-- default content text (typically empty) -->{% endblock %}
</body>
</html>