##########
# Python #
##########
__pycache__/
*$py.class

# mypy
.mypy_cache/

# Black
pyproject.toml


##########
#   OS   #
##########

# Mac
.DS_Store


###########
#   IDE   #
###########

# Visual Studio Code
.vscode/

# Pycharm/intelliJ stuff
.idea/


############
#  HEROKU  #
############

.env


############
#  DJANGO  #
############
*.log

local_settings.py
secret_settings.py