##########
# Python #
##########
__pycache__/
*.py[cod]
*$py.class

# mypy
.mypy_cache/

# Black
pyproject.toml

# Django stuff:
*.log
local_settings.py

# Secret configs
secret_settings.py


##########
#   OS   #
##########

# Mac
.DS_Store


###########
#   IDE   #
###########

# Visual Studio Code
.vscode/

# Pycharm/intelliJ stuff
.idea/