{% extends "base_generic.html" %}

{% block content %}

    {% if messages_by_authors %}
        <h1>Här är dina prenumerationer</h1>
        {% for messages_by_author in messages_by_authors %}
            <h2 style="display: inline">
                <a href="{% url 'sajt:user-message-list' username=messages_by_author.author %}">
                    {{ messages_by_author.author }}
                </a>
            </h2>&nbsp;
            <a href="{% url 'sajt:remove-subscription' slug=user subscription_username=messages_by_author.author %}">
                Sluta prenumerera
            </a>
            <ul>
                {% for message in messages_by_author.messages %}
                    <li>{{ message.date_created }}:<p>{{ message.text }}</p></li>
                {% endfor %}
            </ul>
        {% endfor %}
    {% else %}
        <p>Inga meddelanden.</p>
    {% endif %}

{% endblock %}