{% extends "sajt_generic.html" %}

{% block content %}
    <h2>{{ shown_name }} meddelanden</h2>
    <ul>
        {% for message in message_list %}
            <li style="margin: 0 0 1em 0;">
                <div style="border:1px; border-style:solid; display:inline-block; vertical-align:middle;">
                    <p>{{ message.text }}</p>
                    {{ message.date_created }}<br/>
                    <a href="{% url 'sajt:message-detail' message.id %}">Detail view</a>
                </div>
            </li>
        {% endfor %}
    </ul>

    {% if form and user_is_owner %}
        <form action="{% url 'sajt:user-message-list' user.username %}" method="post">
            <legend>Nytt meddelande</legend>
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Submit">
        </form>
    {%  endif %}

{% endblock %}